/* You can add global styles to this file, and also import other style files */
body {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #22254b, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22254b, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
